@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#back{
    background-image: url(img/jhj.png);
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#back::after{
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: .2;
    z-index: -1;
}
#error{
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: white;
    animation: op 2s ease;
}
#p{
    font-size: 30px;
    letter-spacing: 30px;
    animation: space 4s ease;
}
.bg2{
    background-color: rgb(12,12,12);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#first{
    font-family: 'Montserrat';
    font-size: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 70%;
}
#first p{
    padding: 20px;
}
@keyframes space{
    0%{
        letter-spacing: 0px;
    }
    25%{
        letter-spacing: 0px;
    }
    100%{
        letter-spacing: 30px;
    }
}
@keyframes op{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
